@require 'includes/settings.styl'

body
  margin: 0
  padding: 0

.content-navigation
  border-color: $blue
  color: $blue - 9%
 
.border
  padding: ($margin/2)
  margin: ($margin/2)
  border-color: $blue


@import 'components/button.styl'